services:

    mongodb:
        image: mongo:latest
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
        ports:
            - 27017:27017
        volumes:
            - mongodb_volume:/data/db
        networks:
            mongodb_network:

    mongo-gui:
        image: ugleiton/mongo-gui
        restart: always
        depends_on:
            - mongodb
        environment:
            - OPENAI_API_KEY=""
            - MONGO_URL=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongodb:${MONGO_PORT}
        ports:
            - 4321:4321
        networks:
            mongodb_network:

    valkey:
        image: valkey/valkey:latest
        restart: always
        ports:
            - 6379:6379

    redis-commander:
        image: rediscommander/redis-commander:latest
        environment:
            - REDIS_HOSTS=local:valkey:6379
        ports:
            - 8081:8081
        depends_on:
            - valkey
    
volumes:
    mongodb_volume:

networks:
    mongodb_network:
        driver: bridge

